{% extends 'website/base.html' %}
{% load static %}
{% block title %} About Us - Halisi Family Hospital | Quality Healthcare You Can Trust {% endblock %}


{% block content %}
{% include 'website/components/header.html' %}
{% include 'website/components/breadcrumbs.html' with name="About Us" %}

<section class="about-us">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-12">
                <img src="{% static 'website/images/others/culture.jpg' %}" class="img-fluid" />
            </div>
            <div class="col-lg-6 col-12">
                <h1 class="fs-4 text-blue">Halisi Family Hospital</h1>
                <p class="fs-6 fw-light text-blue">Our Culture Statement</p>
                <p>At Halisi Family Hospital we conduct and present ourselves professionally, 
                we are competent and continually strive to improve our knowledge and skills through continuous learning
                . We value integrity and are open and honest with our clients and always strive to do the right thing in the right
                way at the right time and for the right reasons. We do our very best in each and everything we do to ensure that we
                always offer excellent service. We treat our patients with warmth, love and compassion and humble ourselves in service to them.</p>


            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-12 col-12">
                <h1 class="fs-5 text-blue lh-1">Our Mission</h1>
                <p class="fs-6 fw-light text-blue lh-1">What We Do and Why We Do It</p>
                <p class="">To serve and care for families by providing high-quality health and wellness</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-12 col-12">
                <h1 class="fs-5 text-blue lh-1">Our Vision</h1>
                <p class="fs-6 fw-light text-blue lh-1">What We Want to Achieve</p>
                <p class="">Trusted and Loved by Families</p>
            </div>
        </div>
<div class="values text-dark">
  <p><span>Family</span> - Everyone is family.</p>
  <p><span>Kindness</span> - We genuinely care for our family and go out of our way to serve them.</p>
  <p><span>Integrity</span> - We are open and honest in all our interactions to foster trust, and we do the right thing, in the right way, at the right time and for the right reasons.</p>
  <p><span>Excellence</span> - We are eager to improve knowledge, skills, systems and processes. We value great work, love what we do and hate mediocrity. We pay attention to detail, work hard, and delight in always exceeding expectations.</p>
  <p><span>Respect</span> – We respect and value our family’s opinions, preferences, privacy, time and money.</p>
  <p><span>Dedication</span> - We are dependable, committed to our work and loyal to the organization.</p>
  <p><span>Solutions Oriented</span> - We are not afraid of problems and embrace challenges with a focus on solutions and results.</p>
</div>


        <div class="row mb-4">
            <div class="col-lg-12 col-12">
                <h1 class="fs-5 text-blue lh-1">Our Promise</h1>
                <p class="">Quality healthcare you can trust.</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-12 col-12">
                <h1 class="fs-5 text-blue lh-1">Our Family</h1>
                <p class="">At Halisi Family Hospital, we are a Family serving Families.</p>
            </div>
        </div>
    </div>
</section>


{% include 'website/components/footer.html' %}
{% endblock %}