{% extends 'website/base.html' %}
{% block title %} {{ service.name }} - Halisi Family Hospital | Quality Healthcare You Can Trust {% endblock %}

{% block content %}
{% include 'website/components/header.html' %}
{% include 'website/components/breadcrumbs.html' with name=service.name %}

<section class="services">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8 col-12">
                <img src="{{service.mainBanner.url}}" class="img-fluid rounded shadow d-block mx-auto mb-4" />
                <div class="content py-4 px-3 bg-white rounded shadow-sm">
                    <h1 class="fs-3 fw-bold text-blue mb-3">{{ service.name }}</h1>
                    <p class="fs-5 text-dark lh-lg mb-0">{{ service.description|safe }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="bg-light rounded shadow-sm p-4 h-100">
                    <h5 class="text-blue mb-3">Other Services Offered</h5>
                    <ul class="nav flex-column all-list-exclu">
                        {% for s in services %}
                            <li class="nav-item mb-2">
                                <a class="nav-link text-dark" href="{% url 'website:service' s.sid %}">
                                    <i class="bi bi-arrow-right text-blue"></i> {{ s.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="pt-3">
                        {% if package and package.pdfFile %}
                            <a href="{{ package.pdfFile.url }}" 
                               target="_blank" 
                               rel="noopener noreferrer"
                               class="btn btn-white-outline fw-light rounded-0 w-100">
                                View maternity packages
                            </a>
                        {% else %}
                            <!-- <button class="btn btn-white-outline fw-light rounded-0 w-100 disabled" 
                                    disabled 
                                    title="Coming Soon">
                                View maternity packages
                            </button> -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'website/components/footer.html' %}
{% endblock %}